<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">ANASAYFA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/about">Hakkımızda </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/chart">Tablo </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if session["logged_in"] %}
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('mail_arayuz') }}">Mail Form </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('article_content') }}">Makaleler </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="/data">Veri Girme </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/dashboard">Makale Ekleme</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/database">Veritabanı </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Çıkış Yap </a>
            </li>
          {% else %}
            <li class="nav-item ">
              <a class="nav-link" href="/login">Giriş Yap </a>
            </li>
          {% endif %}
          <li class="nav-item ">
            <a class="nav-link" href="/register">Kayıt Olun </a>
          </li>
          
        </ul>
      </div>
    </nav>