{% extends "layout.html" %}
{% block body %}
<h3>Hakkımda</h3>
<hr>
Merhaba ben Enes Duman.7 Kasım 1997 tarihinde Bolu'da doğdum. Eee haliyle Boluluyum :) Bu web sitesinde biraz kendimden bahsetmek istedim. Abant İzzet baysal Üniversitesi'nde Bilgisayar programcılığı okuyorum. Bölümümü seviyorum ve bunun üzerine bir şeyler yapmaya çalışıyorum. İnsan için sadece iş olmayan şeyler daha da güzeldirler. Mesela bilgisayar kadar müziği de seviyorum. Gitar çalıyorum ve genellikle müzikle yaşıyorum. Bir şeyler başarmak yanında ve arkanda birilerinin olduğunu bilmekle başlıyor. Bu yüzden herkese teşekkür ediyorum.
<hr>
{% endblock  %}